<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="HeaderPage" value="&lt;div id=\'chapter_content\' style=\'display:block;page-break-inside: avoid;page-break-after: avoid;page-break-before: always;\'&gt;&lt;h1 data-number=\'0\' id=\'welcome-to-live\'&gt;Ableton&lt;br&gt;Reference Manual&lt;br&gt;Version 12&lt;/h1&gt;&lt;br&gt;&lt;/div&gt;"/>
    <add key="HomePage" value="https://www.ableton.com/en/live-manual/12/"/>
    <add key="HtmlFilePath" value="C:\temp\document.html"/>
    <add key="LinkPageContains" value="/en/live-manual/12/"/>
    <add key="MarkdownFilePath" value="C:\temp\document.md"/>
    <add key="PdfFilePath" value="C:\temp\document.pdf"/>
  </appSettings>
</configuration>